<%- include('../partials/header') %>

    <h1>Add a New Fishing Spot</h1>

    <form action="/spots" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>

        <label for="fishSpecies">Available Fish Species:</label>


        <button type="submit">Add Spot</button>
    </form>

    <a href="/">Back to Fishing Spots</a>

<%- include('../partials/footer') %>
